# History files
pkg/.Rhistory
pkg/.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
pkg/.Rproj.user/

# produced vignettes
pkg/vignettes/*.html
pkg/vignettes/*.pdf
.Rproj.user
/local
/_local
docs
